.wrap{
    box-sizing: border-box;
    display: flex;
    width: 1350px;
    height: 50px;
    background:black;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.form{
    display: flex;
    height: 30px;
    gap: 20px;
    box-sizing: border-box;
}
.input {
    width: 100px;
    border-radius: 5%;
}
a{
    text-decoration: none;
    font-size: 18px;
    color:#FFFF00;
    font-weight: bold;

}
a:hover{
    color:#30dc;

}
p{
    font-weight: bold;
}
button{
    background: #FFFF00;
    border-radius: 5%;
    width: 80px;
    color: black;
    font-weight: bold;


}
